<template>
	<section class="container">
		<div>
            <div :class="[{'drop-area': true}, {'draging': isDrag == 'new'}]"
                @dragover.prevent="checkDrag($event, 'new', true)"
　　　　　　　　@dragleave.prevent="checkDrag($event, 'new', false)"
                @drop.prevent="onDrop">
                <i aria-hidden="true" class="fa fa-plus"></i>
                <div class="drop">
                    <p class="drag-drop-info">ファイルをドロップするか</p>
                    <label for="corporation_file" class="btn btn-success">
                        ファイルを選択
                        <input type="file" class="drop__input" style="display:none;" id="corporation_file" @change="onDrop">
                    </label>
                    {{ fileForm.fileName ? fileForm.fileName : '' }}
                </div>
            </div>
		</div>
	</section>
</template>

<script>
import ftp from 'ftp'
export default {
	data : function(){
		return {
			isDrag: null,
			fileForm: {}
		}
	},
	methods: {
		checkDrag(event, key, status){
			if (status && event.dataTransfer.types == "text/plain") {
				return false
			}
			this.isDrag = status ? key : null
		},
		onDrop (event, key = '', image = {}) {
			this.isDrag = null;
			let fileList = event.target.files ? event.target.files : event.dataTransfer.files;
			if(fileList.length == 0){
				return false;
			}
			let files    = [];
			for(let i = 0; i < fileList.length; i++){
				files.push(fileList[i]);
			}
			let file = files.length > 0 ? files[0] : [];
			this.ftp(file['path'], file['name'])
		},
		ftp: function(filePath, name){
			var ftpClient = new ftp()
			ftpClient.connect({
				host:"ec2-18-209-99-143.compute-1.amazonaws.com",
			    user:"ftp-user",
				password:"Relveryfat1111"
			})
			ftpClient.on('ready',function(){
				ftpClient.put(filePath, name, function(err)  {
					if (err) throw err;
				});
				ftpClient.list(function(err, list) {
					if (err) throw err;
					console.dir(list);
				});
				ftpClient.end();

			})
			ftpClient.on('error',function(err){
				console.log(err);
			})
			ftpClient.on('greeting',function(message){
				console.log(message);
			})
		}
	}
}
</script>

<style scoped>
.container {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.btn {
	margin: 0 8px;
}
.drop-area {
    display: inline-block;
    height: 300px;
    width: 300px;
    text-align: center;
    color: #555;
    border: 5px dotted #aaa;
}
.drop-area.draging{
    border: 5px dotted #f66;
}
.drag-drop-info {
    margin-top: 40%;
}
.btn.btn-success{
    margin-top: 20px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #eee;
    transition: .4s ;
}
.btn.btn-success:hover{
    border: 1px solid #bbb;
    background-color: #ddd;
}
</style>
